.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "nav nav nav nav"
        "side main main main"
        "side left right right"
        "footer footer footer footer";
    height: 100vh;
}

.nav {
    grid-area: nav;
    background-color: lightblue;
}

.main {
    grid-area: main;
    background-color: lightgreen;
}

.side {
    grid-area: side;
    background-color: lightcoral;
}

.left {
    grid-area: left;
    background-color: lightgoldenrodyellow;
}

.right {
    grid-area: right;
    background-color: lightgray;
}

.footer {
    grid-area: footer;
    background-color: lightpink;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
